/* ------------------ */
/* Custom Propierties */
/* ------------------ */



:root {
  /* font-families */
  --font-sans-title: 'Source Sans Pro', sans-serif;
  --font-sans-normal: 'Roboto', sans-serif;
  --font-mono:  'JetBrains Mono', monospace;

  /* font-sizes */
  --fs-96: 6rem; /* 96px */
  --fs-60: 3.75rem; /* 60px */
  --fs-48: 3rem; /* 48px */
  --fs-18: 1.125rem; /* 18px */
  --fs-16 : 1rem; /* 16px */
  --fs-14: 0.875rem; /* 14px */
  --fs-12: 0.75rem; /* 12px */
  --fs-10:  0.625rem;/* 10px */

  /* color */
  --clr-blue: 220 60% 38%;                    /* Do not USE THIS, use variable below instead */
  --clr-dark-blue: 220 61% 26%;  /* Do not USE THIS, use variable below instead */
  --clr-green: 81 64% 59%;                 /* Do not USE THIS, use variable below instead */

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(219, 62%, 10%);
  --clr-gray: hsl(0, 0%, 90%);
  --clr-gray-dark: #7a7a7a;

  --clr-primary: var(--clr-blue);
  --clr-primary-variant: var(--clr-dark-blue);
  --clr-secondary: var(--clr-green);
  --clr-success:var(--clr-green);
  --clr-warning: hsl(40, 82%, 62%);
  --clr-error: hsl(0, 69%, 34%);

}


/* ------------- */
/* Reset Styles  */
/* ------------- */


/* box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin and padding */

body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
picture {
  margin: 0;
  padding: 0;
}

body {
  /* line-height: 1.5; */
  min-height: 100vh;
  font-family: var(--font-sans-normal);
  letter-spacing: 0;
  color: var(--clr-black);
}

/* make forms easier to work with  */

input,
button, 
textarea,
select {
  font: inherit;
}

input {
  outline: none;
}


/* ------------------- */
/* primary foundations */
/* ------------------- */

/* typography */

.ff-title { font-family: var(--font-sans-title); }
.ff-sans { font-family: var(--font-sans-normal); }
.ff-mono { font-family: var(--font-mono) }

/* colors */

.bg-primary { background-color: hsl(var(--clr-primary)) }
.bg-primary-variant { background-color: hsl( var(--clr-primary-variant) ) }
.bg-secondary { background-color: hsl( var(--clr-secondary) ); }
.bg-white { background-color: var(--clr-white) }
.bg-black { background-color: var(--clr-black) }
.bg-surface { background-color: var(--clr-gray) }
.bg-gray { background-color: var(--clr-gray) }
.bg-gray-dark { background-color: var(--clr-gray-dark) }
.bg-warning { background-color: var(--clr-warning) }
.bg-error { background-color: var(--clr-error) }

.bg-primary__opacity { background-color: hsl(var(--clr-primary) / var(--opacity, 0.8) ) }
.bg-secondary__opacity { background-color: hsl(var(--clr-secondary) / var(--opacity, 0.8) ) }

.text-white { color: var(--clr-white) }
.text-black { color:var(--clr-black) }
.text-primary { color: hsl( var(--clr-primary) )}
.text-surface { color: var(--clr-gray) }

/* icons */

svg.svg-inline--fa {
  height: 2rem;
  aspect-ratio: 1;
}