/* ------------------ */
/* Custom Propierties */
/* ------------------ */


:root {
  /* font-families */
  --font-sans-title: 'Source Sans Pro', sans-serif;
  --font-sans-normal: 'Roboto', sans-serif;
  --font-mono:  'JetBrains Mono', monospace;

  /* font-sizes */
  --fs-96: 6rem; /* 96px */
  --fs-60: 3.75rem; /* 60px */
  --fs-48: 3rem; /* 48px */
  --fs-18: 1.125rem; /* 18px */
  --fs-16 : 1rem; /* 16px */
  --fs-14: 0.875rem; /* 14px */
  --fs-12: 0.75rem; /* 12px */
  --fs-10:  0.625rem;/* 10px */

  /* color */
  --clr-blue: 220 60% 38%;                    /* Do not USE THIS, use variable below instead */
  --clr-dark-blue: 220 61% 26%;  /* Do not USE THIS, use variable below instead */
  --clr-green: 81 64% 59%;                 /* Do not USE THIS, use variable below instead */

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(219, 62%, 10%);
  --clr-gray: hsl(0, 0%, 90%);
  --clr-gray-dark: #7a7a7a;

  --clr-primary: var(--clr-blue);
  --clr-primary-variant: var(--clr-dark-blue);
  --clr-secondary: var(--clr-green);
  --clr-success:var(--clr-green);
  --clr-warning: hsl(40, 82%, 62%);
  --clr-error: hsl(0, 69%, 34%);

}

/* ----------------*/
/* Reset styles    */
/* --------------- */


/* box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
picture {
  margin: 0;
  padding: 0;
}

/* Reset fonts */

h1,
h2,
h3,
h4,
p,
pre {
  font-weight: 400;
  font-size: 100%;
}

/* setup body  */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--font-sans-normal);
  letter-spacing: 0;
  color: var(--clr-black);
}

/* make image easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with  */

input,
button, 
textarea,
select {
  font: inherit;
}

/* ----------------- */
/* Utility classes   */
/* ----------------- */


/* typography */

.ff-title { font-family: var(--font-sans-title); }
.ff-sans { font-family: var(--font-sans-normal); }
.ff-mono { font-family: var(--font-mono) }

.fs-96 { font-size: var(--fs-96) }
.fs-60 { font-size: var(--fs-60) }
.fs-48 { font-size: var(--fs-48) }
.fs-18 { font-size: var(--fs-18) }
.fs-16 { font-size: var(--fs-16) }
.fs-14 { font-size: var(--fs-14) }
.fs-12 { font-size: var(--fs-12) }
.fs-10 { font-size: var(--fs-10) }

.uppercase { text-transform:uppercase; }
.capitalize { text-transform: capitalize;}

.fw-light { font-weight: 300; }
.fw-regular { font-weight: 400; }
.fw-medium { font-weight: 500; }
/* .fw-bold { font-weight: 700; } */

/* .ls-smallest { letter-spacing: -0.0938rem; } 
.ls-smaller  { letter-spacing: 0; }  
.ls-one { letter-spacing: 0; }
.ls-medium { letter-spacing: 0.015625rem; } 0.25px */

.ls-125 { letter-spacing: 1.25px }
.ls-100 { letter-spacing: 1px }
.ls-050 { letter-spacing: 0.5px }
.ls-000 { letter-spacing: 0 }
.ls-050n { letter-spacing: -0.5px }
.ls-100n { letter-spacing: -1px }
.ls-150n { letter-spacing: -1.5px }

.lh-medium { line-height: 100px; }

.bg-primary { background-color: hsl(var(--clr-primary)) }
.bg-primary-variant { background-color: hsl( var(--clr-primary-variant) ) }
.bg-secondary { background-color: hsl( var(--clr-secondary) ); }
.bg-white { background-color: var(--clr-white) }
.bg-black { background-color: var(--clr-black) }
.bg-surface { background-color: var(--clr-gray) }
.bg-gray { background-color: var(--clr-gray) }
.bg-gray-dark { background-color: var(--clr-gray-dark) }
.bg-warning { background-color: var(--clr-warning) }
.bg-error { background-color: var(--clr-error) }

.bg-primary-opacity { background-color: hsl(var(--clr-primary) / var(--opacity, 0.8) ) }
.bg-secondary-opacity { background-color: hsl(var(--clr-secondary) / var(--opacity, 0.8) ) }

.text-white { color: var(--clr-white) }
.text-black { color:var(--clr-black) }
.text-primary { color: hsl( var(--clr-primary) )}
.text-surface { color: var(--clr-gray) }


/* ---------------- */
/* utilily classes  */
/* ---------------- */

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 70rem;
}

.container.layout{
  padding-block: 1rem; 
  border-radius: 5px;
}

/* flexbox */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  flex-wrap: wrap;
}

.flex > * {
  padding: 1rem 2rem;
}

.flex.flex-col-2 > * {
  width: calc( 50% - 0.5*var(--gap, 1rem) );
}

.flex.flex-col-3 > * {
  width: calc( 33% - var(--gap, 1rem) );
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space,2rem);
  /* border: 1px solid red; */
}


.color-container ul>li{
  list-style: none;
}


/* ---------- */
/* components */
/* ---------- */

.button {
  padding: 0.25rem 1rem;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
}

/* .button__primary {
  border: 1px hsl(var(--clr-primary)) solid;
  color: hsl(var(--clr-primary));
} */


.button:hover {
  box-shadow: 0 0 2px var(--clr-gray-dark);
}